# Python bytecode caches
__pycache__/

# Mod Files:
BO3 Mod Files/

# Virtual environment:
.venv/

# Build files:
*.bat
*.sh
!packaging/linux/*.sh

# Log files:
*.log

# Executable files:
*.exe

# text files:
*.txt
!requirements.txt

# vdf files:
*.vdf
