# Python bytecode caches
/__pycache__/

# Mod Files:
/BO3 Mod Files/

# Build folder:
/build/

# Virtual environment
/env/

# Build exe:
*.bat

# Log files:
*.log

# Executable files:
*.exe

# Spec Files:
*.spec