# Python bytecode caches
Stable/__pycache__/
Testing/__pycache__/

# Mod Files:
Stable/BO3 Mod Files/
Testing/BO3 Mod Files/

# Build folder:
Stable/build/
Testing/build/

# Dist folder:
Stable/dist/
Testing/dist/

# Virtual environment:
Stable/env/
Testing/env/

# pyinstaller:
Stable/pyinstaller/
Testing/pyinstaller/

# Build files:
*.bat
*.sh

# Log files:
*.log

# Executable files:
*.exe

# text files:
*.txt

# vdf files:
*.vdf